<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:uses-permissionandroid="http://schemas.android.com/apk/distribution"
    package="com.wd.master_of_arts_app">
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 播音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ico"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity android:name=".activity.NoticeActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="CurrentEnvironment"
            android:value="PROD"> <!-- PROD or TEST -->
        </meta-data>
        <meta-data
            android:name="PPPaySDK"
            android:value="true" />

        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity android:name=".activity.ImageActivity" />
        <activity android:name=".activity.GiveActivity" />
        <activity android:name=".activity.MoreImgActivity" />
        <activity android:name=".activity.MoreComments" />
        <activity android:name=".activity.WorkPage" />
        <activity android:name=".activity.LiveBroadcast" />
        <activity android:name=".activity.MyHomeWork" />
        <activity
            android:name=".activity.MoreHref"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.FindHref"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.CoursePreview" />
        <activity
            android:name=".activity.CommonwealClass"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".payment.ViewLogistics" />
        <activity android:name=".payment.ToBePaid" />
        <activity android:name=".activity.OrderComment" />
        <activity android:name=".activity.OrderDetails" />
        <activity android:name=".activity.myactivity.MyCourseDetails" />
        <activity android:name=".activity.DetailsOfWorks" />
        <activity android:name=".payment.SignUpNow" android:exported="true" android:launchMode="singleTask" android:taskAffinity="com.wd.master_of_arts_app">
            <intent-filter>

                <!-- action.VIEW和category.DEFAULT必须设置 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- 如果需要浏览器支持打开，则category.BROWSABLE -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- schema的协议类型：可以自行设置，只要按照统一规则，前后端一致就行 -->
                <data android:scheme="qmfpppay" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditShippingAddress" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.CourseDetailsActivity" />
        <activity android:name=".activity.ForgetThePassword" />
        <activity
            android:name=".wechatpictures.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name=".wechatpictures.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name=".activity.Login_interface" /> <!-- 选择界面 -->
        <activity android:name=".activity.Verification_code_login" /> <!-- 登录 -->
        <activity android:name=".activity.Privacy_policy" /> <!-- 隐私协议 -->
        <activity android:name=".activity.User_agreement" /> <!-- 用户协议 -->
        <activity android:name=".activity.Booking_experience" />
        <activity android:name=".activity.modify_password" /> <!-- 修改密码 -->
        <activity android:name=".activity.Add_Address" /> <!-- 收获地址 -->
        <activity android:name=".activity.Calendar_Activity" />
        <activity
            android:name=".activity.myactivity.SetUp"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 设置 -->
        <activity android:name=".activity.myactivity.Notice" /> <!-- 通知 -->
        <activity android:name=".activity.myactivity.Customer_Service_Center" /> <!-- 客服中心 -->
        <activity android:name=".activity.myactivity.Harvest_Address" /> <!-- 收获地址 -->
        <activity android:name=".activity.myactivity.Express_Inquiry" /> <!-- 快递查询 -->
        <activity android:name=".activity.myactivity.My_Course" /> <!-- 我的课程 -->
        <activity android:name=".activity.myactivity.My_Continuation" /> <!-- 我的续报 -->
        <activity android:name=".activity.myactivity.My_Collection_of_works" /> <!-- 我的作品集 -->
        <activity android:name=".activity.myactivity.My_order" /> <!-- 我的订单 -->
        <activity android:name=".activity.Publishing_works_Activity" /> <!-- 闪屏界面 -->
        <activity android:name=".activity.Flash_page_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 首页搜索界面 -->
        <activity android:name=".activity.Search_Activity" /> <!-- 项目主框架 -->
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>